body {
    width: 100%;
    max-width: 1500px;
    margin: 20 auto;
    padding: 10 auto;
    font-family: sans-serif;
}

html {
    font=family: sans-serif;
}

h3 {
    font-family: Impact, sans-serif;
    color: darkred;
    font-size: 30px;
}

table {
    border: 2px solid darkred;
    border-radius: 6px;
    background-color: yellow;
    margin: 10px;
}

article {
    border: 5px solid darkred;
    border-radius: 20px;
    background-color: orange;
    margin: 20px;
    max-width: 1000px;
}
.splits {
    text-align: center;
}

#maintitle {
    font-family: Impact, sans-serif;
    color: darkred;
    font-size: 40px;
    text-shadow: 5px 5px orange;
}

#photos {
    padding: 10px;
}
